<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SistFlota_ModeloDatosContainer" connectionString="metadata=res://*/SistFlota_ModeloDatos.csdl|res://*/SistFlota_ModeloDatos.ssdl|res://*/SistFlota_ModeloDatos.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\SistFlota_db.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SistFlota_Seguridad_ModeloContainer" connectionString="metadata=res://*/SEGURIDAD.SistFlota_Seguridad_Modelo.csdl|res://*/SEGURIDAD.SistFlota_Seguridad_Modelo.ssdl|res://*/SEGURIDAD.SistFlota_Seguridad_Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\SEGURIDAD\SistFlota_Seguridad.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SistFlota_Auditoria_ModeloContainer" connectionString="metadata=res://*/AUDITORIA.SistFlota_Auditoria_Modelo.csdl|res://*/AUDITORIA.SistFlota_Auditoria_Modelo.ssdl|res://*/AUDITORIA.SistFlota_Auditoria_Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\AUDITORIA\SistFlota_Auditoria.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>